NODE_ENV=development
APP_PORT=3000
APP_NAME=Kaarya API
API_PREFIX=api
FRONTEND_DOMAIN=
BACKEND_DOMAIN=

DATABASE_TYPE=mongodb
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_URL=

AUTH_JWT_SECRET=
AUTH_JWT_TOKEN_EXPIRES_IN=
AUTH_REFRESH_SECRET=
AUTH_REFRESH_TOKEN_EXPIRES_IN=
AUTH_FORGOT_SECRET=
AUTH_FORGOT_TOKEN_EXPIRES_IN=
AUTH_CONFIRM_EMAIL_SECRET=
AUTH_CONFIRM_EMAIL_TOKEN_EXPIRES_IN=


